<!DOCTYPE html>
<html lang="en">

<!-- head -->
{{> head }}

<body>
   <!-- navbar -->
    {{> navbar }}
   <!-- Content -->
   <div class="row">
       <div class="col-8">
           <h1>About me</h1>
       </div>
       <div class="col-4">
           <img src="assets/img/lego-batman-face.jpg" alt="face" class="img-thumbnail">
       </div>
   </div>

   
<!--footer -->
{{> footer}}
</body>

</html>